.card {
  flex: 0 0 100%;
  @media (min-width: 640px) {
    flex: 0 1 auto;
  }
}

.image_container {
  position: relative;
}

.image {
  width: 100%;
}

.fav {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;

  .notFavorited {
    color: white;
    transition: color .2s ease;
  }

  .favorited {
    color: red;
  }

  &:hover {
    .notFavorited {
      color: #f0629280;
    }
  }
}

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

.information {
  display: block;
  width: 85%;

  p {
    margin: 0;
  }
}

.name {
  font-size: 1.2rem;
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.origin {
  margin-top: 16px;
  font-style: italic;
  font-size: 18px;
}

.detail {
  @media (min-width: 640px) {
    flex-basis: 50%;
  }
  @media (min-width: 768px) {
    flex-basis: 50%;
  }
  @media (min-width: 1280px) {
    flex-basis: 40%;
  }
}

.type {
  font-style: italic;
  margin-top: 8px;
  white-space: nowrap;
}
