.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 64px;

  @media (min-width: 768px) {
    column-gap: 32px;
    row-gap: 64px;
    justify-content: space-between;
  }

  @media (min-width: 1280px) {
    gap: 64px;
  }
}