.wrapper {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 640px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }

  @media (min-width: 768px) {
    gap: 64px;
  }

  @media (min-width: 1024px) {
    gap: 128px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn_container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 16px 0 32px;

  &::-webkit-scrollbar {
    display: none;
  }
}
