.wrapper {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  gap: 64px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn_container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 16px 0 32px;

  &::-webkit-scrollbar {
    display: none;
  }
}
